@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

header {
  background: linear-gradient(rgb(19, 149, 2), rgb(47, 46, 46));
  margin: 0px;
  padding: 0px;
  color: white;
  height: 170px;
  width: 100%;
}

header > h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

header > ul > li {
  padding: 10px;
  margin: 10px;
  background-color: rgb(35, 41, 74);
  border-radius: 10px;
}

header > ul > li > a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}
